.card {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 10px #eee;
}
.price {
  color: #008000;
  font-weight: bold;
}
.button {
  background: #c70039;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
}